<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/styles/home.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="{{ url_for('quotes') }}">
            <img src = "/static/images/logo-175x175.png" alt ="logo" class="logo">
        </a>

        <nav>
            <ul>
                <li><a href="{{ url_for('quotes') }}">Home</a></li>
                <li><a href="{{ url_for('history') }}">History</a></li>
                <li><a href="{{ url_for('faq') }}">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <div class="saying">
        GET YOUR
        <br>
        FUEL HERE
        <br>
        NOW
    </div>

    <div class="quote_box">
        <div style="font-family: Montserrat; font-size: 25px; font-weight: bolder; text-align: center; padding: 6% 0;">
            FUEL QUOTES
        </div>
        
        <div class="checkout_inside">
            <div class="left">
                No. of Gallons:
                <br>
                <br>
                Delivery Address:
                <br>
                <br>
                Delivery Date:
                <br>
            </div>
    
            <div class="right">
                {{gallons_requested}}
                <br>
                <br>
                {{delivery_address}}
                <br>
                <br>
                {{delivery_date}}
                <br>
            </div>
    
            <hr class="checkout_hr">
    
            <div class="left">
                Suggested Price:
                <br>
                <br>
                <!-- Estimated Tax:
                <br>
                <br> -->
                Fee:
                <br>
            </div>
    
            <div class="right">
                ${{suggested_price}}
                <br>
                <br>
                <!-- $19.88 
                <br>
                <br> -->
                {{fees}}%
                <br>
            </div>
    
            <hr class="checkout_hr">
    
            <div class="left" style="font-size: 25px; font-weight: bolder;">
                Total:
            </div>
    
            <div class="right" style="font-size: 25px; font-weight: bolder;">
                ${{total}}
            </div>
            <form id="quote_form" method="POST" action="#">
                <div style="text-align: center; transform: translate(0, -15%);">
                    <button type="submit" class="btn">CHECKOUT</button>
                </div>
            </form>
            
        </div>
        

        

    </div>

    
</body>
</html>