<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
    <link rel="stylesheet" href="../static/styles/create_profile.css">
</head>
<body>
    <div class="signin_box" class="row">
        <div class="column">
            <img src="../static/images/logo-175x175.png" style="filter: brightness(180%);" class="logo" alt="logo">
        </div>
        <div class="column">
            <H1 style="color: black; font-family: Yeseva One;">CREATE YOUR PROFILE</H1>
            <form>
                <label for="fullname">Full Name</label>
                <input type="text"  name="fullname" required>
                <label for="address1">Address 1</label>
                <input type="text"  name="address1" required>
                <label for="address2">Address 2</label>
                <input type="text"  name="address2" required>
                <label for="state">State</label>
                <input type="text"  name="state" required>
                <label for="zipcode">Zipcode</label>
                <input type="text"  name="zipcode" required>
                <input type="submit" value="FINISH PROFILE">
            </form>
        </div>
    </div>
</body>
</html>