<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
    <link rel="stylesheet" href="../static/styles/create_profile.css">
</head>
<body>
    <div class="signin_box" class="row">
        <div class="column">
            <img src="../static/images/logo-175x175.png" class="logo" alt="logo">
        </div>
        <div class="column">
            <h1 style="color: black; font-family: Yeseva One;">CREATE YOUR PROFILE</h1>
            <form>
                <label for="fullname" style="color: 8D8181; font-family: Arial;">Full Name</label>
                <input type="text"  name="fullname" required>
                <label for="address1" style="color: 8D8181; font-family: Arial;">Address 1</label>
                <input type="text"  name="address1" required>
                <label for="address2" style="color: 8D8181; font-family: Arial;">Address 2</label>
                <input type="text"  name="address2" required>
                <label for="state" style="color: 8D8181; font-family: Arial;">State</label>
                <input type="text"  name="state" required>
                <label for="zipcode" style="color: 8D8181; font-family: Arial;">Zipcode</label>
                <input type="text"  name="zipcode" required>
                <input type="checkbox" class="check-box"><span>I agree to the terms and conditions of
                        service.</span>
                <input type="submit" value="FINISH PROFILE">
            </form>
        </div>
    </div>
</body>
</html>