<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
    <link rel="stylesheet" type="text/css" href="../static/styles/meettheteam.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
  <div class="navbar">
    <div>
        <a href="../templates/register_page.html"> Image</a>
    </div>
    <nav>
      <ul id="MenuItems">
        <li><a href="../templates/register_page.html">Home</a></li>
        <li><a href="../templates/meettheteam.html">About us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </nav>
  </div>
<div class="container section-ourTeam">
	<div class="row">
		<div class="name">
			<h1>Meet Our Team</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-success ourTeam-box text-center">
				<div class="col-md-12 section1">
					<img src="/static/images/1599437547293.jpg">
				</div>
				<div class="col-md-12 section2">
					<p>Aryan Parajulee</p><br>
					<h1>Soft. Dev.</h1><br>
				</div>
				<div class="col-md-12 section3">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<div class="col-md-12 section4">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-google-plus" aria-hidden="true"></i>
					<i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-danger ourTeam-box text-center">
				<div class="col-md-12 section1">
					<img src="/static/images/a.jpg">
				</div>
				<div class="col-md-12 section2">
					<p>Ammar Alani</p><br>
					<h1>Soft. Dev.</h1>
				</div>
				<div class="col-md-12 section3">
					<p>
						I'm a computer scinece undergrad at the University of Houston. I like to challenge myself and create new technology.
					</p>
				</div>
				<div class="col-md-12 section4">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-google-plus" aria-hidden="true"></i>
					<i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="row section-info ourTeam-box text-center">
				<div class="col-md-12 section1">
					<img src="/static/images/j.jpg">
				</div>
				<div class="col-md-12 section2">
					<p>Jesus Silverio</p><br>
					<h1>Soft. Dev.</h1><br>
				</div>
				<div class="col-md-12 section3">
					<p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, et temporibus impedit quam unde earum aliquavcbvcbvbcbcvb
					</p>
				</div>
				<div class="col-md-12 section4">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
					<i class="fa fa-google-plus" aria-hidden="true"></i>
					<i class="fa fa-envelope" aria-hidden="true"></i>
				</div>
			</div>
		</div>

	</div>
</div>
</body>
</html>
