<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="quotes.html">
            <img src = "/static/images/logo-175x175.png" alt ="logo" class="logo">
        </a>

        <nav>
            <ul>
                <li><a href="quotes.html">Home</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <div class="saying">
        GET YOUR
        <br>
        FUEL HERE
        <br>
        NOW
    </div>

    <div class="quote_box">
        <div style="font-family: Montserrat; font-size: 25px; text-align: center; padding: 8% 0;">
            FUEL QUOTES
        </div>

        <div>
            <div class="input_box">
                <label class="input_label">Gallons Requested</label>
                <br>
                <input type="number" name="gallons_requested" min="1" required/>
            </div>

            <div class="input_box">
                <label class="input_label">Delivery Address</label>
                <br>
                <input type="text" name="delivery_address" required/>
            </div>

            <div class="input_box">
                <label class="input_label">Delivery Date</label>
                <br>
                <input type="text" name="delivery_date" onfocus="(this.type='date')"  required/>
            </div>

            <div class="submit_button">
                <button type="submit" class="btn">GET QUOTE</button>
            </div>
    
        </div>
        

    </div>

    
</body>
</html>