<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/index2.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">

    <title>Document</title>
</head>

<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src = "/static/images/logo-175x175.png" alt ="logo" class="logo">
        </a>

        <nav>
            <ul id="MenuItems">
                <li><a href="{{ url_for('index') }}">Sign Up</a></li>
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-box">
        <div style="font-family: Montserrat; font-size: 25px; font-weight: bolder; text-align: center; padding: 8% 0;">
            SIGN IN
        </div>
        <form id="formsinputs" class="input-group" method="POST" action="#">
            <input type="text" name="login-email" class="input-field" placeholder="Email">
            <input type="password" name="login-password" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class="check-box"><span>Remember Password</span>
            <button type="submit" class="submit-btn">Log in</button>
        </form>
        <div class="flash_cancel">
            {% for message in get_flashed_messages() %}
              <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    
    
    
 
</body>

</html>