<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="../static/styles/signin.css">
</head>
<body>
    <div class="signin_box">
        <img src="../static/images/logo-175x175.png" style="filter: brightness(180%);" class="logo" alt="logo">
        <form>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
            <a href="#"> forgot password</a><br>
            <a href="#">Don't have an account?</a>
        </form>
    </div>
</body>
</html>