/* CSS FOR QUOTES/ HISTORY PAGE */

body{
    margin: 0;
    padding: 0;
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
}

header{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

nav{
    margin-top: 2%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    float: right;
}
  
  
nav li {
    display: inline-block;
    padding: 15px 30px;
    position: relative;
}
  
nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color:#18778C;
}
  
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #18778C;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    /* top: 10%; */
    width: 50%;
}

.saying{
    font-family:'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: white;
    margin-top: 11%;
    margin-left: 16%;
    float: left;
}

.quote_box{
    background-color: #18778cd3;
    width: 32%;
    min-height: 70vh;
    float: right;
    margin-right: 5.3%;
    transform: translate(0, -5%); 
    border-radius: 3%;
}

/* FORM FOR QUOTES */

.input_box{
    padding: 1% 15% ;
    margin-bottom: 30px;
}

.input_box input {
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    width: 100%;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding: 8px 0 5px 0;
    padding-top: 6%;

}

.input_box input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
}

.input_label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

.submit_button{
    width: 100%;
    float: center;
}
