/* CSS FOR QUOTES/ HISTORY PAGE */

body{
  margin: 0;
  padding: 0;
  background-image: url("/static/images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: 15%; */
}

header{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

nav{
  margin-top: 2%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  float: right;
}


nav li {
  display: inline-block;
  padding: 15px 30px;
  position: relative;
}

nav a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color:#18778C;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #18778C;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  /* top: 10%; */
  width: 50%;
}

.saying{
  font-family:'Yeseva One';
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  color: white;
  margin-top: 11%;
  margin-left: 15%;
  float: left;
}

.quote_box{
  background-color: #18778cce;
  width: 32%;
  height: 72vh;
  float: right;
  margin-right: 5.3%;
  transform: translate(0, -5%); 
  border-radius: 3%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.719);
  

}

.message{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #bdb9b9;
  font-weight: bold;
  padding: 0 15%;
  margin-bottom: 5%;
}

/* FORM FOR QUOTES */

.input_box{
  padding: 1% 15% ;
  margin-bottom: 30px;
}

.input_box input {
  border: 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  background: transparent;
  width: 100%;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 8px 0 5px 0;
  padding-top: 6%;

}

.input_box input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}

.input_label{
  font-family: Montserrat;
  font-size: 16px;
  color: white;
}

.submit_button{
  text-align: center;
  width: 100%;
}

.btn{
  /* width: 60%;
  padding: 15px 0;
  background-color: #AA9D28; */
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 5%;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  width: 65%;
  cursor: pointer;
  text-align: center;
  background-color: #AA9D28;
}

.btn:hover {
  background-color: rgb(185, 185, 185);
  transition: 0.3s;
}

.btn:focus {
  border: none;
  outline: none;
}

/* CHECKOUT */

.checkout_inside{
  font-family: Montserrat;
  font-size: 15px;
  color: white;
}
.left{
  padding: 10px 60px;
  width: 30%;
  float: left;
}

.right{
  /* padding: 10px 60px; */
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 30px;
  width: 30%;
  text-align: right;
  float: right;
}

.checkout_hr{
  /* margin-top: 140px;
  margin-bottom: 20px;
  border-top:rgb(150, 150, 150); */
  border-top:rgb(150, 150, 150);
  margin-bottom: 20px;
  width: 75%;
}

/* HISTORY */

.history_box{
  background-color: rgba(255, 255, 255, 0.87);
  width: 68%;
  margin-right: auto;
  margin-left: auto;
  height: 65vh;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.89);

}

.history{
  padding: 35px 40px;
}

.history_title{
  font-family: Montserrat;
  font-size: 25px; 
}

.content-table {
  font-family: Lato;
  border-collapse: collapse;
  margin: 5px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  /* font-weight: bold; */
  margin-left: auto;
  margin-right: auto;
  float: center;
}

.content-table thead tr {
  /* background-color: #009879; */
  color: #000000;
  text-align: center;
  font-weight: 100;
}

.content-table th,
.content-table td {
  padding: 12px 32px;
}

.content-table tbody tr {
  border-bottom: 1px solid #ffffff70;
}

.content-table tbody tr {
  background-color: #f3f3f377;
}

/* .content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
} */

.content-table tbody tr.active-row {
  /* font-weight: bold; */
  color: #009879;
}


/* FAQ */


h1 {
  margin-left: 24%;
  padding-top: 20px;
  font-family:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 45px;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

}

.accordion-item {
  background-color: #fff;
  color: rgb(15, 15, 15);
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 25px;
}
.accordion-item-header::after {
  content: "\002B";
  /* font-size: 2rem; */
  font-size: 25px;

  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}