body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/gas_station.jpg");    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* background-position-y: 15%; */
}


header{
    margin-right: auto;
    margin-left: auto;
    float: center;
    width: 80%;
    /* background-color: white; */
}


nav{
    margin-top: 2%;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    float: right;
}
  
  
nav li {
    display: inline-block;
    padding: 15px 30px;
    position: relative;
}
  
nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color:#18778C;
}
  
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #18778C;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.form-box {
    width: 30%;
    height: 65%;
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.884);
    border-radius: 2%;
    transform: translate(0, -5%); 
    /* overflow: hidden; */
}

.input-group {
    /* margin-top: 1%; */
    margin-right: auto;
    margin-left: auto;
    top: 120px;
    width: 70%;
    float: center;
    /* position: absolute;
    width: 280px;
    transition: 0.5s; */
}

.form-box input{
    color: black;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    color: black;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #f3c693;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box {
    margin: 30px 10px 34px 0;
}

#formsinputs input {
    color: rgb(0, 0, 0);
    font-size: 15;
}
  

.flash_cancel{
    margin-top:20px;
    /* margin-left: auto;
    margin-right: auto;
    float: center; */
    text-align: center;
    color:rgb(255, 0, 0);
    font-size: 13px;
    font-weight: 100;
  }