body {
  margin: 0;
  padding: 0;
  background: url("../images/gas_station.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.signin_box {
    width: 320px;
    height: 420px;
    background: #EAECF3;
    border-radius: 25px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    
}

.logo {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}