<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/styles/home.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <a href="{{ url_for('quotes') }}">
            <img src = "/static/images/logo-175x175.png" alt ="logo" class="logo">
        </a>

        <nav>
          <ul>
            <li><a href="{{ url_for('quotes') }}">Home</a></li>
            <li><a href="{{ url_for('history') }}">History</a></li>
            <li><a href="{{ url_for('faq') }}">FAQ</a></li>
            <li><a href="{{ url_for('signin') }}">LOGOUT</a></li>
          </ul>
        </nav>
    </header>

    <div class="history_box">
        <div class="history">
            <div class="history_title">
                HISTORY
            </div>
            <hr >
            <table class="content-table">
                <thead>
                  <tr style="font-weight: bolder;">
                    <th>Order No.</th>
                    <th>Order Date</th>
                    <th>Delivery Address</th>
                    <th>Delivery Date</th>
                    <th>Gallons</th>
                    <th>Price</th>

                  </tr>
                </thead>
                <tbody>
                  {% for order in history_list %}
                    <tr>
                      <td>{{ order[0] }}</td>
                      <td>{{ order[1] }}</td>
                      <td>{{ order[2] }}</td>
                      <td>{{ order[3] }}</td>
                      <td>{{ order[4] }}</td>
                      <td>${{ order[5] }}</td>
                    </tr>
                  {% endfor %}

                  
                </tbody>
              </table>
        </div>
    </div>
   
        


    
</body>
</html>