<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/styles/index2.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">

    <title>Document</title>
</head>

<body>
    <header>
        <a href="{{ url_for('quotes') }}">
            <img src = "/static/images/logo-175x175.png" alt ="logo" class="logo">
        </a>

        <nav>
            <ul id="MenuItems">
                <li><a href="{{ url_for('index') }}">Sign Up</a></li>
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-box">
        <div style="font-family: Montserrat; font-size: 25px; font-weight: bolder; text-align: center; padding: 8% 0;">
            REGISTER
        </div>
        <form  id = "formsinputs" class="input-group" method="POST" action="#">
            <input type="email" name="register-email" class="input-field" placeholder="Email" required>
            <input type="password" name="register-password" class="input-field" placeholder="Enter Password" required>
            <input type="password" name="register-password2" class="input-field" placeholder="Confirm Password" required>
            <input type="checkbox" name="term-agreement" class="check-box"><span style="color: rgb(0, 0, 0); font-size: 13px; bottom: 68px;">I agree to the terms and conditions of service.</span>
            <button type="submit" class="submit-btn">Register</button>
        </form>
        <div class="flash_cancel">
            {% for message in get_flashed_messages() %}
              <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>

</body>

</html>